body{
	background-image: url(726603.png);
	background-size: cover; 
}
h2,p{
	color: #AA4139;
	text-align: center;
	border: 5px dashed #FFB0AA;
	cursor: pointer;
}
li{
	color: purple;
	list-style: none;
	background-color: black
	color:green;
	display:inline-block; 

}
p{
	color: green;,p
}
.xx{
	border:5px dashed green;
}